body {
  padding-top: 50px;
}
h1 {
  color: blue;
  font-family: "Hiragino Sans GB W3", "Hiragino Sans GB", cursive;
  text-align: center;
}

h2 {
  font-size: 25px;
}

li{
  margin: 0px 0;
}

.starter-template {
  padding: 40px 15px;
}

td{
	padding: 0 20px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto }
